.body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

h2 {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    grid-column-start: 2;
    grid-column-end: 3;
    border: 3px solid #f1f1f1;
}

.container {
    text-align: center;
    margin: 24px 50px 12px 50px;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container2 {
    text-align: center;
    margin: 24px 50px 12px 50px;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 50%;
    border-radius: 50%;
}

.button {
    border: none;
    color: white;
    background-color: #4CAF50;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.form2 {
    grid-column-start: 0;
    grid-column-end: 3;
    border: 3px solid #f1f1f1;
    text-align: center;
}